<div class="container-fluid">
  <div class="row">
    <div class="container-fluid col-lg-3 bg-light"
         style="background-image: url('https://live.staticflickr.com/5224/5773057791_5c34be3d91_b.jpg')">
      <app-account-nav-bar></app-account-nav-bar>
    </div>
    <div class="container-fluid col-lg-9 p-5">

      <div class="card-title">VÉ ĐÃ ĐẶT</div>
      <div class="card-body">
        <div>

          <table class="table table-hover">
            <thead>
            <tr>
              <th>STT</th>
              <th>Hình Ảnh</th>
              <th>Tên Phim</th>
              <th>Ngày Đặt</th>
              <th>Tổng Tiền</th>
              <th>Trạng Thái</th>
              <th>Chức Năng</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let booking of ticketBooking; let i = index">
              <td>{{i + 1}}</td>
              <td><img [src]="booking.movieTicket.movie.posterMovie" width="80" height="̉60"></td>
              <td>{{booking.movieTicket.movie.movieName}}</td>
              <td>{{booking.createTime | date:'dd/MM/yyyy'}}</td>
              <td>{{booking.movieTicket.ticketPrice | number}} VND</td>
              <td>
                <span *ngIf="booking.ticketStatus.ticketStatusId == 1"
                      class="badge badge-primary">{{booking.ticketStatus.ticketStatusName}}</span>
                <span *ngIf="booking.ticketStatus.ticketStatusId == 2"
                      class="badge badge-success">{{booking.ticketStatus.ticketStatusName}}</span>
                <span *ngIf="booking.ticketStatus.ticketStatusId == 3"
                      class="badge badge-pill badge-danger">{{booking.ticketStatus.ticketStatusName}}</span>
              </td>
              <td>
                <button *ngIf="booking.ticketStatus.ticketStatusId == 1;else disabled "
                        (click)="deleteId = booking.ticketId; deleteTitle = booking.movieTicket.movie.movieName"
                        class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Hủy
                </button>
                <ng-template #disabled>
                  <button class="btn btn-danger" data-toggle="modal" disabled data-target="#exampleModalCenter">Hủy
                  </button>
                </ng-template>
              </td>

            </tr>
            </tbody>
          </table>
          <div *ngIf="ticketBooking !== null" class="mt-3">
            <nav aria-label="Page navigation example">
              <ul class="pagination modal-4">
                <li><a [ngClass]="page === 0 ? 'disabled' : ''" (click)="firstPage()" class="prev">
                  <i class="fa fa-chevron-left"></i>
                  Đầu
                </a>
                </li>
                <li><a *ngIf="page >= 1" (click)="previousPage()" [ngClass]="page > 0 ? 'disable' : '' "><i
                  class="fa fa-chevron-left"></i></a></li>
                <li *ngIf="page >= 1"><a (click)="changePage(page-1)">{{page}}</a></li>
                <li><a class="active">{{page + 1}}</a></li>
                <li *ngIf="page < totalPage-1"><a (click)="changePage(page+1)">{{page + 2}}</a></li>
                <li><a *ngIf="page < totalPage-1" (click)="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
                <li><a *ngIf="page < totalPage-1" class="next" (click)="lastPage()"> Cuối
                  <i class="fa fa-chevron-right"></i>
                </a></li>
                <li>
                  <label>
                    <input type="number" class="input-group-prepend" style="width: 45px ;height: 30px"
                           [(ngModel)]="selectPagination">
                  </label>
                </li>
                <li><a class="ml-5" (click)="selectPage(selectPagination)">Đi</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<!--Modal delete start-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-ticket-cancel [deleteId]="deleteId" [deleteTitle]="deleteTitle"
                           (deleteComplete)="deleteSuccess()"></app-ticket-cancel>
      </div>
    </div>
  </div>
</div>
<!--modal delete end-->
