<div id="home-contents">
  <div class="contents-page">
    <div class="block-wrapper">
      <h3 class="ml-3">Khuyến mãi mới</h3>
      <section class="row promotion-group">
        <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
          <div class="promotion-item-home">
            <a href="/khuyen-mai/nhan-ve-mien-phi-rinh-bap-ve-nha">
              <img src="https://www.galaxycine.vn/media/2021/4/12/300x450_1618212644894.jpg">
              <div class="description-hover">
                <h3>Nhận Vé Miễn Phí, Rinh Bắp Về Nhà</h3>
                <p></p>
                <p class="description">
                  Rất nhiều vé xem phim miễn phí và bắp ngọt tại Galaxy Linh
                  Trung đang chờ các Stars rinh về...
                </p>
                <p></p>
                <div class="group">
                  <a href="/khuyen-mai/nhan-ve-mien-phi-rinh-bap-ve-nha"
                     class="btn secondary text-center">Chi tiết</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
          <div class="promotion-item-home">
            <a href="/khuyen-mai/ngay-thanh-vien---milo-day">
              <img src="https://www.galaxycine.vn/media/2021/4/20/300x450_1618909082647.jpg">
              <div class="description-hover">
                <h3>Ngày Thành Viên - Milo Day</h3>
                <p></p>
                <p class="description">
                  Bước sang năm mới, Galaxy dành tặng các Stars thêm một ngày
                  tràn đầy “yêu thương” – Milo Day.
                </p>
                <p></p>
                <div class="group">
                  <a href="/khuyen-mai/ngay-thanh-vien---milo-day" class="btn secondary text-center">
                    Chi tiết</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
          <div class="promotion-item-home">
            <a href="/khuyen-mai/galaxy-cinema-tri-an-thanh-vien">
              <img src="https://www.galaxycine.vn/media/2021/1/18/300x450_1610956359573.png">
              <div class="description-hover">
                <h3>Galaxy Cinema Tri Ân Thành Viên</h3>
                <p></p>
                <p class="description">
                  Tri ân tình cảm của các Stars, Galaxy Cinema dành
                  tặng hàng loạt ưu đãi chưa – từng – có mừng 2021.
                </p>
                <p></p>
                <div class="group">
                  <a href="/khuyen-mai/galaxy-cinema-tri-an-thanh-vien" class="btn secondary text-center">
                    Chi tiết</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
          <div class="promotion-item-home">
            <a href="/khuyen-mai/app-galaxy-cinema--chi-mat-nua-giay-den-ngay-phong-chieu">
              <img src="https://www.galaxycine.vn/media/2020/9/24/300x450_1600914057388.jpg">
              <div class="description-hover">
                <h3>Ứng Dụng Galaxy: Chọn Lối Đi Riêng, Vào Thẳng Rạp Phim</h3>
                <p></p>
                <p class="description">
                  Galaxy Cinema ra mắt app mới, việc đặt vé online dễ dàng
                  hơn bao giờ hết. Chỉ với một thao tác nhỏ là các Stars có thể
                  đến thẳng phòng chiếu xem phim ngay lập tức.
                </p>
                <p></p>
                <div class="group">
                  <a href="/khuyen-mai/app-galaxy-cinema--chi-mat-nua-giay-den-ngay-phong-chieu"
                     class="btn secondary text-center">Chi tiết</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
          <div class="promotion-item-home">
            <a href="/khuyen-mai/tung-bung-hai-sao--nhan-uu-dai-khung">
              <img src="https://www.galaxycine.vn/media/2019/12/9/300x450_1575874237175.jpg">
              <div class="description-hover">
                <h3>TƯNG BỪNG HÁI "SAO" – NHẬN ƯU ĐÃI KHỦNG</h3>
                <p></p>
                <p class="description">
                  Galaxy Cinema ra mắt hệ thống tích điểm thành viên hoàn toàn mới!
                </p>
                <p></p>
                <div class="group">
                  <a href="/khuyen-mai/tung-bung-hai-sao--nhan-uu-dai-khung"
                     class="btn secondary text-center">Chi tiết</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
          <div class="promotion-item-home">
            <a href="/khuyen-mai/ngay-tri-an-cua-galaxy-cinema---ngay-thu-hai-dau-tien-moi-thang">
              <img src="https://www.galaxycine.vn/media/2021/4/22/1200x1800_1619064936544.jpg">
              <div class="description-hover">
                <h3>Ngày Tri Ân Của Galaxy Cinema - Ngày Thứ Hai ĐẦU TIÊN Mỗi Tháng</h3>
                <p></p>
                <p class="description">
                  Từ lâu, chương trình Ngày Tri Ân Nhằm tạo điều kiện thuận
                  lợi hơn cho các khách hàng thả ga xem phim đã trở nên
                  quen thuộc với các khách hàng thân yêu của Galaxy Cinema.
                </p>
                <p></p>
                <div class="group">
                  <a href="/khuyen-mai/ngay-tri-an-cua-galaxy-cinema---ngay-thu-hai-dau-tien-moi-thang"
                     class="btn secondary text-center">Chi tiết</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
          <div class="promotion-item-home">
            <a href="/khuyen-mai/x2-thanh-vien-x2-quyen-loi">
              <img src="https://www.galaxycine.vn/media/2020/7/1/galaxy-website-1_1593573807717.jpg">
              <div class="description-hover">
                <h3>X2 Thành Viên - X2 Quyền Lợi</h3>
                <p></p>
                <p class="description">
                  Mở rộng quyền lợi thành viên Galaxy Cinema với tính năng đổi điểm mới
                  dành cho các Stars thân yêu. Tự do quy đổi SAO sang điểm VUI của TAPTAP
                  để có thêm nhiều lựa chọn ưu đãi hấp dẫn với đa dạng lĩnh vực từ
                  ăn uống, mua sắm, giải trí cho đến du lịch.
                </p>
                <p></p>
                <div class="group">
                  <a href="/khuyen-mai/x2-thanh-vien-x2-quyen-loi" class="btn secondary text-center">
                    Chi tiết</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 promotion-item">
          <div class="promotion-item-home">
            <a href="/khuyen-mai/dat-bap-ngay">
              <img src="https://www.galaxycine.vn/media/2021/6/25/3_1624607948355.jpg" class="loading">
              <div class="description-hover">
                <h3>Thưởng Thức Vị Bắp Chuẩn Rạp Phim Ngay Tại Nhà</h3>
                <p></p>
                <p class="description">
                  Bạn có muốn được thưởng thức bắp thơm - ngon - ngọt của Galaxy
                  Cinema ngay tại nhà mà không phải đi đâu xa?
                </p>
                <p></p>
                <div class="group">
                  <a href="/khuyen-mai/dat-bap-ngay" class="btn secondary text-center">Chi tiết</a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
