<div id="home-contents">
  <div class="contents-page">
    <div class="block-wrapper">
      <h3 class="ml-3">Phim hay tháng</h3>
      <section class="movie-group ml-3">
        <article class="movieOfMonth item-post d-flex">
          <div class="item-thumb">
            <a href="/phim-hay/phim-hay-thang-042021-thang-phim-viet-bung-no">
              <img src="https://www.galaxycine.vn/media/2021/4/7/450-phim_1617782937256.jpg">
            </a>
          </div>
          <div class="item-detail">
            <h5><a href="/phim-hay/phim-hay-thang-042021-thang-phim-viet-bung-no">
              Phim Hay Tháng 06.2022: Tháng Phim Việt Bùng Nổ
            </a></h5>
            <div class="text-content">
              <p>Mùa phim hè năm 2022 chính thức bắt đầu, cuộc chiến tại phòng vé tháng 04
                đang nóng dần hơn khi có đến 05 phim Việt cùng ra mắt.
              </p>
            </div>
          </div>
        </article>
        <article class="movieOfMonth item-post d-flex">
          <div class="item-thumb">
            <a href="/phim-hay/phim-hay-thang-032021-bom-tan-thang-03">
              <img src="https://www.galaxycine.vn/media/2021/3/4/450-phim-hay_1614848842368.jpg">
            </a>
          </div>
          <div class="item-detail">
            <h5><a href="/phim-hay/phim-hay-thang-032021-bom-tan-thang-03">
              Phim Hay Tháng 03.2022: Bom Tấn Tháng 03</a></h5>
            <div class="text-content">
              <p>Galaxy Cinema hân hạnh giới thiệu loạt phim mới được trình chiếu vào tháng 03.2022. Các “mọt phim”
                nên chuẩn bị sẵn túi tiền thật kỹ. Bởi vì cơn địa chấn siêu phẩm đang tới rất gần, sức công phá vô
                cùng lớn với đa dạng các tác phẩm đủ thể loại khác nhau.
              </p>
            </div>
          </div>
        </article>
        <article class="movieOfMonth item-post d-flex">
          <div class="item-thumb">
            <a href="/phim-hay/phim-hay-thang-082020-phim-hay-de-bep-covid">
              <img src="https://www.galaxycine.vn/media/2020/7/29/450x300_1596008964333.jpg">
            </a>
          </div>
          <div class="item-detail">
            <h5><a href="/phim-hay/phim-hay-thang-082020-phim-hay-de-bep-covid">
              Phim Hay Tháng 08.2022: Phim Hay Đè Bẹp Covid</a></h5>
            <div class="text-content hidden-xs">
              <p>Bữa tiệc điện ảnh mùa Thu tại Galaxy Cinema sẽ mang đến cho các “mọt phim” hàng loạt tác phẩm hấp dẫn,
                đa dạng về chủ đề, phong phú trong thể loại.
              </p>
            </div>
          </div>
        </article>
        <article class="movieOfMonth item-post d-flex">
          <div class="item-thumb">
            <a href="/phim-hay/phim-hay-thang-072020-bom-tan-tro-lai">
              <img src="https://www.galaxycine.vn/media/2020/7/2/450x300_1593677788760.jpg">
            </a>
          </div>
          <div class="item-detail">
            <h5><a href="/phim-hay/phim-hay-thang-072020-bom-tan-tro-lai">
              Phim Hay Tháng 07.2022: Bom Tấn Trở Lại</a></h5>
            <div class="text-content hidden-xs">
              <p>Galaxy Cinema xin thông báo một tin vui dành cho các “mọt phim”, hàng loạt bom tấn đã chính thức
                quay trở lại vào tháng 07.2020. Hứa hẹn sẽ là sự khởi đầu cho màn bùng nổ của điện ảnh vào cuối năm.
              </p>
            </div>
          </div>
        </article>
        <article class="movieOfMonth item-post d-flex">
          <div class="item-thumb">
            <a href="/phim-hay/phim-hay-thang-032020-thang-phim-hanh-dong">
              <img src="https://www.galaxycine.vn/media/2020/2/28/450x300_1582876947774.jpg">
            </a>
          </div>
          <div class="item-detail">
            <h5><a href="/phim-hay/phim-hay-thang-032020-thang-phim-hanh-dong">
              Phim Hay Tháng 03.2022: Tháng Phim Hành Động</a></h5>
            <div class="text-content hidden-xs">
              <p>Tháng 03.2020 tiếp tục mở ra cho các tín đồ điện ảnh thêm nhiều siêu phẩm với đa dạng thể loại từ siêu
                anh hùng, hành động, tình cảm, hoạt hình
              </p>
            </div>
          </div>
        </article>
        <article class="movieOfMonth item-post d-flex">
          <div class="item-thumb">
            <a href="/phim-hay/phim-hay-thang-022020-valentine-do">
              <img src="https://www.galaxycine.vn/media/2020/2/5/300x450_1580892553884.jpg">
            </a>
          </div>
          <div class="item-detail">
            <h5><a href="/phim-hay/phim-hay-thang-022020-valentine-do">
              Phim Hay Tháng 02.2022: Valentine "Đỏ"</a></h5>
            <div class="text-content hidden-xs">
              <p>Sau một mùa phim Tết đầy mãn nhãn thì Galaxy Cinema xin trân trọng đem tới cho các Stars hàng loạt
                siêu phẩm đáng chú ý trong tháng 2.2022
              </p>
            </div>
          </div>
        </article>
        <article class="movieOfMonth item-post d-flex">
          <div class="item-thumb">
            <a href="/phim-hay/phim-hay-mua-tet-2020-dai-chien-phim-viet">
              <img src="https://www.galaxycine.vn/media/2020/1/22/450x300_1579684353934.jpg">
            </a>
          </div>
          <div class="item-detail">
            <h5><a href="/phim-hay/phim-hay-mua-tet-2020-dai-chien-phim-viet">
              Phim Hay Mùa Tết 2022: Đại Chiến Phim Việt</a></h5>
            <div class="text-content hidden-xs">
              <p>Mùa phim Tết năm 2020 là cuộc cạnh tranh giữa các phim Việt. Bên cạnh đó, trận chiến phòng vé còn có
                sự góp mặt của những bộ phim đến từ Hollywood, Thái Lan...
              </p>
            </div>
          </div>
        </article>
        <article class="movieOfMonth item-post d-flex">
          <div class="item-thumb">
            <a href="/phim-hay/phim-hay-thang-012020-dau-nam-ngap-tran-noi-so">
              <img src="https://www.galaxycine.vn/media/2020/1/3/450x300_1578040157327.jpg">
            </a>
          </div>
          <div class="item-detail">
            <h5><a href="/phim-hay/phim-hay-thang-012020-dau-nam-ngap-tran-noi-so">
              Phim Hay Tháng 01.2022: Đầu Năm Ngập Tràn Nỗi Sợ</a></h5>
            <div class="text-content hidden-xs">
              <p>Cùng chào đón năm 2022 với hàng loạt tác phẩm thú vị đủ mọi thể loại vào tháng 1 này và thỏa sức
                nhận lì xì vui tết phủ phê tại Galaxy Cinema nhé các Stars ơi!
              </p>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
