<div class="footer py-lg-2">
  <div class="container">
    <div class="row content-1">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 marg-top26">
        <a routerLink="/" tabindex>
          <img id="logo-footer" class="img-responsive" src="../../../../assets/layout-images/logo.png" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 marg-top30">
        <h3>LOTTE CINEMA</h3>
        <ul class="list">
          <li><a routerLink="/dat-ve" tabindex><i class="fa fa-angle-double-right"></i> Mua vé</a></li>
          <li><a routerLink="/rap" tabindex><i class="fa fa-angle-double-right"></i> Rạp & Giá vé</a></li>
          <li><a routerLink="/movie-corner" tabindex><i class="fa fa-angle-double-right"></i> Góc điện ảnh</a></li>
          <li><a routerLink="/events" tabindex><i class="fa fa-angle-double-right"></i> Sự kiện</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 marg-top30">
        <h3>THÔNG TIN CHUNG</h3>
        <ul class="list">
          <li><a routerLink="/instructions" tabindex><i class="fa fa-angle-double-right"></i> Hướng dẫn</a></li>
          <li><a routerLink="/policy" tabindex><i class="fa fa-angle-double-right"></i> Chính sách</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 marg-top30">
        <h3>CHĂM SÓC KHÁCH HÀNG</h3>
        <p class="info">Hotline: <b>1900 0000</b>
          <span class="line-down"><br></span>Giờ làm việc: <b>07h00 - 22h00</b>
          <span class="line-down"><br></span>Email hỗ trợ:
          <a href="mailto:c1120g1@codegym.vn" tabindex><b>cinema@lotte.com.vn</b></a>
        </p>
      </div>
    </div>
  </div>
</div>
