<div class="wrapper wrapper--w790 mt-3">
  <div class="card card-5">
    <div class="card-heading">
      <h2 class="title">Sửa Thông Tin Khách Hàng</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="formAddNewCustomer" (ngSubmit)="addNewCustomer(formAddNewCustomer.value)">
        <label class="label">--Đăng Kí Tài Khoản--</label>
        <div class="form-row mt-2">
          <div class="name">Tài Khoản<span class="text-red"> (*)</span>:</div>
          <div class="value">
            <div class="input-group">
              <input class="input--style-5" disabled type="text" formControlName="username">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="name">Mật khẩu<span class="text-red"> (*)</span>:</div>
          <div class="value">
            <div class="input-group">
              <input class="input--style-5" type="password" formControlName="password">
            </div>
          </div>
          <p
            *ngIf="formAddNewCustomer.get('password').hasError('required') && formAddNewCustomer.get('password').touched"
            class="text-error">Vui lòng nhập mật khẩu !</p>
          <p
            *ngIf="formAddNewCustomer.get('password').hasError('pattern') && formAddNewCustomer.get('password').touched"
            class="text-error">Mật khẩu tối thiểu 6 kí tự gồm cả chữ và số !</p>
        </div>

        <div class="form-row">
          <div class="name">Xác Nhận<span class="text-red"> (*)</span>:</div>
          <div class="value">
            <div class="input-group">
              <input class="input--style-5" type="password" formControlName="confirmPassword">
            </div>
          </div>
          <p class="text-error " *ngIf="isMessage">Mật khẩu không trùng khớp !</p>
        </div>
        <label class="label">--Thêm Mới Thông Tin--</label>
        <div class="form-row mt-2">
          <div class="name">Họ Tên<span class="text-red"> (*)</span>:</div>
          <div class="value">
            <div class="input-group">
              <input class="input--style-5" type="text" formControlName="name">
            </div>
          </div>
          <p *ngIf="formAddNewCustomer.get('name').hasError('required') && formAddNewCustomer.get('name').touched"
             class="text-error">Vui lòng nhập họ và tên !</p>
          <p *ngIf="formAddNewCustomer.get('name').hasError('pattern') && formAddNewCustomer.get('name').touched"
             class="text-error"> Họ và tên không nhập kí tự đặc biệt , số . Vui lòng nhập lại !</p>
          <p *ngIf="formAddNewCustomer.get('name').hasError('minlength') && formAddNewCustomer.get('name').touched
           && !formAddNewCustomer.get('name').hasError('pattern')"
             class="text-error"> Họ và tên tối thiểu 6 kí tự !</p>
          <p *ngIf="formAddNewCustomer.get('name').hasError('maxlength') && formAddNewCustomer.get('name').touched
          && !formAddNewCustomer.get('name').hasError('pattern')"
             class="text-error"> Họ và tên tối đa 45 kí tự !</p>
        </div>
        <div class="form-row">
          <div class="name">Điện Thoại<span class="text-red"> (*)</span>:</div>
          <div class="value">
            <div class="input-group">
              <input class="input--style-5" type="text" formControlName="phone">
            </div>
          </div>
          <p
            *ngIf="formAddNewCustomer.get('phone').hasError('required') && formAddNewCustomer.get('phone').touched"
            class="text-error">Vui lòng nhập số điện thoại !</p>
          <p
            *ngIf="formAddNewCustomer.get('phone').hasError('pattern') && formAddNewCustomer.get('phone').touched"
            class="text-error">Sai định dạng (số điện toại phải từ 10 đến 11 số), vui lòng nhập lại !</p>
        </div>
        <div class="form-row">
          <div class="name">Email<span class="text-red"> (*)</span>:</div>
          <div class="value">
            <div class="input-group">
              <input class="input--style-5" type="email" formControlName="email">
            </div>
          </div>
          <p *ngIf="formAddNewCustomer.get('email').hasError('required') && formAddNewCustomer.get('email').touched"
             class="text-error">Vui lòng nhập email !</p>
          <p *ngIf="formAddNewCustomer.get('email').hasError('pattern')&& formAddNewCustomer.get('email').touched"
             class="text-error">Email không đúng định dạng , abc@acb.com!</p>

          <p class="text-error" *ngIf="listError.existEmail">
            {{listError.existEmail}}
          </p>
        </div>

        <div class="form-row">
          <div class="name">Hình ảnh:</div>
          <label id="input-image" *ngIf="imgSrc === null">
            <i style="font-size: 26px" class="fa fa-image"></i>
            <input type="file" accept="*.png.jpg" (change)="showPreview($event)" style="display:none">
          </label>
          <p style="color:red; font-size: 11px" class="ml-2">{{messageImageError}}</p>
          <div *ngIf="imgSrc !== null">
            <img class="border border-dark" [src]="imgSrc" style="width: 174px; height: 110px">
            <div class="icon-hide">
              <i (click)="removeImage()" class="fa fa-times-circle"></i>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="name">Tỉnh(TP)<span class="text-red"> (*)</span>:</div>
          <div class="value">
            <div class="input-group">
              <mat-form-field class="form-select" appearance="fill">
                <mat-label>Chọn Tỉnh(TP)</mat-label>
                <mat-select [compareWith]="compareProvince" formControlName="province">
                  <mat-option (click)="onchangeProvince(province.provinceId)" *ngFor="let province of provinces"
                              [value]="province">{{province.provinceName}}</mat-option>
                </mat-select>
                <span
                  *ngIf="formAddNewCustomer.get('province').hasError('required') && formAddNewCustomer.get('province').touched"
                  class="text-select-error">Vui lòng chọn tỉnh hoặc thành phố !</span>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="name">Huyện(Quận)<span class="text-red"> (*)</span>:</div>
          <div class="value">
            <div class="input-group">
              <mat-form-field class="form-select" appearance="fill">
                <mat-label>Chọn Huyện(Quận)</mat-label>
                <mat-select [compareWith]="compareDistrict" formControlName="district"
                            [disabled]="formAddNewCustomer.value.province === ''">
                  <mat-option (click)="onchangeDistrict(district.districtId)" *ngFor="let district of districts"
                              [value]="district">{{district.districtName}}</mat-option>
                </mat-select>
                <span
                  *ngIf="formAddNewCustomer.get('district').hasError('required') && formAddNewCustomer.get('district').touched"
                  class="text-select-error">Vui lòng chọn quận hoặc huyện !</span>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="name">Xã(Phường)<span class="text-red"> (*)</span>:</div>
          <div class="value">
            <div class="input-group">
              <mat-form-field class="form-select" appearance="fill">
                <mat-label>Chọn Xã(Phường)</mat-label>
                <mat-select [compareWith]="compareWard" formControlName="ward"
                            [disabled]="formAddNewCustomer.value.district === ''">
                  <mat-option *ngFor="let ward of wards" [value]="ward">{{ward.wardName}}</mat-option>
                </mat-select>
                <span
                  *ngIf="formAddNewCustomer.get('ward').hasError('required') && formAddNewCustomer.get('ward').touched "
                  class="text-select-error">Vui lòng chọn xã hoặc phường !</span>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-success ml-5 mb-1 mt-3" type="submit">Lưu</button>
          <button class="btn btn-secondary ml-5 mt-3" type="button" routerLink="/employee/member/management">Huỷ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


