<div id="home-contents" class="mt-5">
  <div class="contents-page">
    <div class="block-wrapper">
      <h3 class="ml-3">Điều khoản chung</h3>
      <section class="row promotion-group">
        <div id="accordion-faq" class="panel-group">
          <div class="panel panel-default">
            <div>
              <ul style="list-style-type: none;">
                <li>Việc bạn sử dụng website này đồng nghĩa với việc bạn đồng ý với những thỏa thuận dưới đây.</li>
                <li>Nếu bạn không đồng ý, xin vui lòng không sử dụng website.</li>
              </ul>
            </div>
            <div>
              <ul style="list-style-type: none;">
                <span><strong>1. Trách nhiệm của người sử dụng:</strong></span>
                <p>Khi truy cập vào trang web này, bạn đồng ý chấp nhận mọi rủi ro. <strong>Lotte</strong> và các bên đối tác khác không
                  chịu trách nhiệm về bất kỳ tổn thất nào do những hậu quả trực tiếp, tình cờ hay gián tiếp; những thất thoát,
                  chi phí (bao gồm chi phí pháp lý, chi phí tư vấn hoặc các khoản chi tiêu khác) có thể phát sinh trực tiếp
                  hoặc gián tiếp do việc truy cập trang web hoặc khi tải dữ liệu về máy; những tổn hại gặp phải do virus,
                  hành động phá hoại trực tiếp hay gián tiếp của hệ thống máy tính khác, đường dây điện thoại, phần cứng,
                  phần mềm, lỗi chương trình, hoặc bất kì các lỗi nào khác; đường truyền dẫn của máy tính hoặc nối kết
                  mạng bị chậm…</p>
              </ul>
            </div>
            <div>
              <ul style="list-style-type: none;">
                <span><strong>2. Về nội dung trên trang web:</strong></span>
                <p>Tất cả những thông tin ở đây được cung cấp cho bạn một cách trung thực như bản thân sự việc.
                  <strong>Lotte</strong> và các bên liên quan không bảo đảm, hay có bất kỳ tuyên bố nào liên quan đến tính chính xác,
                  tin cậy của việc sử dụng hay kết quả của việc sử dụng nội dung trên trang web này. Nội dung trên website
                  được cung cấp vì lợi ích của cộng đồng và có tính phi thương mại. Các cá nhân và tổ chức không được
                  phép sử dụng nội dung trên website này với mục đích thương mại mà không có sự ưng thuận của <strong>Lotte</strong> bằng văn bản.
                  Mặc dù <strong>Lotte</strong> luôn cố gắng cập nhật thường xuyên các nội dung tại trang web, nhưng chúng tôi không bảo đảm rằng
                  các thông tin đó là mới nhất, chính xác hay đầy đủ. Tất cả các nội dung website có thể được thay đổi
                  bất kỳ lúc nào.</p>
              </ul>
            </div>
            <div>
              <ul style="list-style-type: none;">
                <span><strong>3. Về bản quyền:</strong></span>
                <p><strong>Lotte</strong> là chủ bản quyền của trang web này. Việc chỉnh sửa trang, nội dung, và sắp xếp thuộc về
                  thẩm quyền của <strong>Lotte</strong>. Sự chỉnh sửa, thay đổi, phân phối hoặc tái sử dụng những nội dung trong trang
                  này vì bất kì mục đích nào khác được xem như vi phạm quyền lợi hợp pháp của <strong>Lotte</strong>.</p>
              </ul>
            </div>
            <div>
              <ul style="list-style-type: none;">
                <span><strong>4. Về việc sử dụng thông tin:</strong></span>
                <p>Chúng tôi sẽ không sử dụng thông tin cá nhân của bạn trên website này nếu không được phép.
                  Nếu bạn đồng ý cung cấp thông tin cá nhân, bạn sẽ được bảo vệ. Thông tin của bạn sẽ được sử dụng với mục đích,
                  liên lạc với bạn để thông báo các thông tin cập nhật của <strong>Lotte</strong> như lịch chiếu phim, khuyến mại qua email
                  hoặc bưu điện. Thông tin cá nhân của bạn sẽ không được gửi cho bất kỳ ai sử dụng ngoài trang web CGV,
                  ngoại trừ những mở rộng cần thiết để bạn có thể tham gia vào trang web (những nhà cung cấp dịch vụ, đối tác,
                  các công ty quảng cáo) và yêu cầu cung cấp bởi luật pháp. Nếu chúng tôi chia sẻ thông tin cá nhân của
                  bạn cho các nhà cung cấp dịch vụ, công ty quảng cáo, các công ty đối tác liên quan, thì chúng tôi cũng yêu
                  cầu họ bảo vệ thông tin cá nhân của bạn như cách chúng tôi thực hiện.</p>
              </ul>
            </div>
            <div>
              <ul style="list-style-type: none;">
                <span><strong>5. Vể việc tải dữ liệu:</strong></span>
                <p>Nếu bạn tải về máy những phần mềm từ trang này, thì phần mềm và các dữ liệu tải sẽ thuộc bản quyền
                  của <strong>Lotte</strong> và cho phép bạn sử dụng. Bạn không được sở hữu những phầm mềm đã tải và <strong>Lotte</strong> không nhượng
                  quyền cho bạn. Bạn cũng không được phép bán, phân phối lại, hay bẻ khóa phần mềm…</p>
              </ul>
            </div>
            <div>
              <ul style="list-style-type: none;">
                <span><strong>6. Thay đổi nội dung:</strong></span>
                <p><strong>Lotte</strong> giữ quyền thay đổi, chỉnh sửa và loại bỏ những thông tin hợp pháp vào bất kỳ thời điểm nào vì
                  bất kỳ lý do nào.</p>
              </ul>
            </div>
            <div>
              <ul style="list-style-type: none;">
                <span><strong>7. Liên kết với các trang khác:</strong></span>
                <p>Mặc dù trang web này có thể được liên kết với những trang khác, <strong>Lotte</strong> không trực tiếp hoặc gián
                  tiếp tán thành, tổ chức, tài trợ, đứng sau hoặc sát nhập với những trang đó, trừ phi điều này được
                  nêu ra rõ ràng. Khi truy cập vào trang web bạn phải hiểu và chấp nhận rằng <strong>Lotte</strong> không thể kiểm soát
                  tất cả những trang liên kết với trang <strong>Lotte</strong> và cũng không chịu trách nhiệm cho nội dung của những
                  trang liên kết.</p>
              </ul>
            </div>
            <div>
              <ul style="list-style-type: none;">
                <span><strong>8. Đưa thông tin lên trang web:</strong></span>
                <p>Bạn không được đưa lên, hoặc chuyển tải lên trang web tất cả những hình ảnh, từ ngữ khiêu dâm,
                  thô tục, xúc phạm, phỉ báng, bôi nhọ, đe dọa, những thông tin không hợp pháp hoặc những thông tin
                  có thể đưa đến việc vi phạm pháp luật, trách nhiệm pháp lý. <strong>Lotte</strong> và tất cả các bên có liên quan đến
                  việc xây dựng và quản lý trang web không chịu trách nhiệm hoặc có nghĩa vụ pháp lý đối với những
                  phát sinh từ nội dung do bạn tải lên trang web.</p>
              </ul>
            </div>
            <div>
              <ul style="list-style-type: none;">
                <span><strong>9. Luật áp dụng:</strong></span>
                <p>Mọi hoạt động phát sinh từ trang web có thể sẽ được phân tích và đánh giá theo luật pháp Việt Nam và
                  toà án Tp. Đà Nẵng. Và bạn phải đồng ý tuân theo các điều khoản riêng của các toà án này.</p>
              </ul>
            </div>
            <div>
              <ul>
                <span><strong>10. Ngưng cung cấp dịch vụ:</strong></span>
                <p><strong>Lotte</strong> có quyền ngưng cung cấp dịch vụ cho người dùng nếu vi phạm những điều sau đây: </p>
                <li>Thông tin bạn cung cấp không chính xác, không đầy đủ, không trung thực, có căn cứ để nghi ngờ độ chính
                  xác của thông tin.</li>
                <li>Đăng tải lên website và các sản phẩm liên quan những nội dung không phù hợp như những nội dung có tính
                  chất khiêu dâm, đồi truỵ, phỉ báng, thô tục, gây hiểu lầm, hoặc phạm pháp.</li>
                <li>Quấy rối, đe doạ hoặc phân biệt một cá nhân hoặc một tập thể vì lý do giới tính, tôn giáo, khuynh hướng
                  tình dục, chủng tộc, dân tộc, tuổi tác hoặc khuyết tật.</li>
                <li>"Spam", quảng cáo trái phép hoặc bất kỳ hình thức xổ số, bài bạc nào.</li>
                <li>Sử dụng tài khoản cá nhân với mục đích thương mại.</li>
                <li>Vi phạm những điều khoản khác của Galaxy Cinema.</li>
                <br>
                <p><strong>Lotte</strong> không chịu trách nhiệm với những nội dung do thành viên đăng tải và sẽ cung cấp những nội
                  dung này cho các cơ quan có thẩm quyền trong trường hợp cần thiết.</p>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
