<div class="trailer-background"></div>
<div class="trailer-wrapper" (click)="closeTrailer()">
  <div class="trailer-container">
    <div class="trailer-content">
      <div class="trailer-iframe-scaler">
        <button class="trailer-close" title="Close (Esc)" type="button" (click)="closeTrailer()">&times;</button>
        <iframe class="trailer-iframe" [src]="trailerUrl" frameborder="0" allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
        </iframe>
      </div>
    </div>
  </div>
</div>
<p>movie-trailer works!</p>
