#home-contents {
  background-image: url("../../../../assets/layout-images/background-with-bokeh-light-effect.jpg");
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -999;
  padding-bottom: 80px;
}

.carousel-item {
  position: relative;
  width: 100%;
  padding-top: 40%;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.play-bt {
  height: 90px;
  width: 90px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: all .4s;
  border: 1px solid rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.play-bt:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.play-bt:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
}

.btn {
  border-radius: 0;
}

.carousel-inner a {
  cursor: pointer;
}

.btn.primary {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px;
  text-decoration: none;
  line-height: 1;
}

.play-bt a.btn {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: none !important;
  color: transparent !important;
}

.carousel-inner .item .btn.primary {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.carousel-inner .item.active .btn.primary {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.carousel-indicators {
  text-align: right;
  float: right;
  right: 0;
  left: inherit;
  margin-right: 10%;
}

.top-list {
  position: relative;
  width: 100%;
  padding: 25% 27% 0;
}

.top-sale {
  background-image: linear-gradient(#F26B39, #F58963, #F5AD93, #F5D3C5, white);
  margin-top: -30px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  height: calc(100% + 30px);
  width: 46%;
}

.top-sale::after {
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  content: '';
  background-color: #768ea8;
}

.top-sale-header {
  height: 50px;
}

.top-sale .title {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.top-sale .title i, .top-sale .title p {
  margin: auto;
}

.top-sale .title i {
  font-size: 10px;
}

.top-sale .title p {
  font-size: 20px;
  font-weight: bold;
}

.top-sale .top-movies {
  height: calc(100% - 50px);
  margin: 0 -50px;
}

.top-sale .top-movies .last {
  width: 100%;
  height: 100%;
  position: relative;
}

.top-sale .top-movies .last.top-2 {
  height: calc(100% - 15px);
  margin-top: 15px;
}

.top-sale .top-movies .last.top-3 {
  height: calc(100% - 30px);
  margin-top: 30px;
}

.top-sale .top-movies .last img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.top-sale .top-movies .last .tag {
  position: absolute;
  top: -5px;
  right: -9px;
  left: auto;
  width: 25%;
  height: auto;
  /* padding-top: 100%; */
}

.block-movie li.last {
  margin-right: 0;
}

.last:hover .movie-hover {
  height: 50%;
}

a, a:hover {
  text-decoration: none;
  color: #768ea8;
}

a img {
  border: 0;
  /* margin: 3px; */
}

.contents-page {
  max-width: 1252px;
  margin: 0 auto;
}

.movie-wrapper {
  padding-top: 100px;
  clear: both;
}

#buyTicket {
  margin: 0 0 10px 0;
  border: 0.25px solid #768ea8;
  box-shadow: 5px 8px 8px #768ea8;
}

#movieSidebar {
  margin: 40px 0;
}

.tabs-buy-ticket {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 50px 18px 50px 18px;
  margin: 0;
}

.label-tabs-buy-ticket {
  background-color: #768ea8;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px 26px;
  position: absolute;
  top: 0;
  left: 0;
  /* font-weight: bold; */
}

.content-movie {
  margin: 20px 0;
  width: 100%;
}

.btn-buy-ticket {
  border-radius: 0;
  float: right;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #768ea8;
  padding: 11px 15px;
  text-decoration: none;
  line-height: 1;
  border: none;
  /* font-weight: bold; */
}

.form-control:focus {
  box-shadow: none !important;
}

ul li {
  list-style: none;
}

.tabs-movie-line .nav-tabs {
  border-bottom: none;
}

.tabs-movie-line .nav-tabs li {
  margin-right: 30px;
}

.tabs-movie-line .nav-tabs li a {
  text-decoration: none;
  border: none;
  color: #8591a3;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 8px;
}

.tabs-movie-line .nav-tabs li a:hover {
  color: #000 !important;
}

.tabs-movie-line .nav-tabs li a.active {
  color: #000 !important;
}

.tabs-movie-line .nav-tabs li a.active::after {
  content: "";
  background: #768ea8;
  display: block;
  height: 3px;
  width: 100px;
}

.btn {
  border-radius: 0;
}

.btn.secondary {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #768ea8;
  border: 1px solid #768ea8;
  padding: 15px 20px;
  text-decoration: none;
  line-height: 1;
}

.btn.secondary:hover {
  color: #ffffff;
  background-color: #768ea8;
  border-color: #768ea8;
}

.btn-load-more {
  float: right;
}

.movies-group {
  margin: 30px -15px 0;
}

.movies-group .movie-item {
  padding: 0 15px;
  margin: 10px 0;
}

.movies-group .movie-item .article-movie-home {
  position: relative;
  /*display: table;*/
  width: 100%;
  padding-top: 150%;
}

.article-movie-home img {
  /*display: table-cell;*/
  width: 100%;
  height: 100%;
  /*max-width: 248px;*/
  position: absolute;
  top: 0;
  left: 0;
}

.movie-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100%;
  overflow: hidden;
  transition: .5s ease;
  height: 0;
  display: flex;
  flex-direction: column;
}

.movie-hover .title-hover {
  margin: 15px 0 0;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
}

.movie-hover .categories-hover {
  color: #fff;
  margin: auto 0;
}

.movie-hover .booking-btn {
  margin-bottom: 20px;
}

.article-movie-home:hover .movie-hover {
  height: 50%;
}

.movies-group .title-movie {
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #43464b;
  margin-top: 15px;
  z-index: 100;
}

.btn.secondary-white {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  border: 1px solid #ffffff;
  padding: 15px 30px;
  text-decoration: none;
  line-height: 1;
}

section#promotion {
  margin: 10px 0;
}

a.title-block {
  color: #000;
  text-decoration: none;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, p {
  line-height: 1.5;
}

h3::after {
  display: block;
  width: 100px;
  height: 3px;
  /* margin-top: 8px; */
  content: '';
  background-color: #768ea8;
}

.promotion {
  margin: 30px -20px;
}

.promotion-item {
  margin: 10px 0;
  padding-left: 20px;
  padding-right: 20px;
}

.promotion-item-home {
  position: relative;
  display: table;
}

.promotion-item-home:hover {
  background: rgba(0, 0, 0, 0.5);
}

.promotion-item-home img {
  width: 100%;
  height: auto;
  display: table-cell;
}

.promotion-more {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.7;
  background: black;
}

.promotion-more:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
