<div id="home-contents" class="mt-5">
  <div class="contents-page">
    <div class="block-wrapper">
      <h3 class="ml-3">Câu hỏi thường gặp</h3>
      <div class="accordion panel-group ml-3" id="accordion-faq">
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading1" data-toggle="collapse"
               data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Tôi có thể dùng tài khoản thành viên của mình để mua vé nhóm được không?
          </div>
          <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion-faq">
            <div class="card-body">
              Bạn có thể cung cấp mã barcode trên mobile app/thẻ thành viên trong quá trình giao dịch
              mua vé nhóm để được tích điểm bạn nhé, tuy nhiên mỗi tài khoản chỉ áp dụng giá vé thành viên tối đa
              8 vé/ngày bạn nhé.
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading2" data-toggle="collapse"
               data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Làm sao để đặt vé online?
          </div>
          <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion-faq">
            <div class="card-body">
              <strong>Bước 1: </strong>Bạn truy cập vào Website/App của Lotte Cinema, đăng nhập tài khoản thành viên
              trước khi mua vé để hệ thống tích điểm vào tài khoản thành viên của bạn.<br>
              <strong>Bước 2: </strong>Bạn vào mục Mua vé đối với Website/chọn Phim đang chiếu đối với App, bạn chọn
              Phim -&gt; chọn Rạp -&gt; chọn Suất chiếu -&gt; chọn Số lượng ghế (tối đa 8 ghế cho một giao dịch/Combo
              bắp
              nước -&gt; chọn Ghế -&gt; tiến hành thanh toán.<br>
              <strong>Bước 3: </strong>Khi đến bước thanh toán, bạn chọn loại thẻ:<br>
              •&nbsp;&nbsp; &nbsp;Đối với thẻ ATM, bạn chọn cổng thanh toán Zalopay/Onepay (tài khoản Ngân hàng đã
              đăng ký dịch vụ internet banking) -&gt; bạn nhập một số thông tin tài khoản Ngân hàng như Tên chủ thẻ,
              Mã số thẻ, Tên đăng nhập…. sau đó nhập mã OTP để hoàn tất giai đoạn thanh toán bạn nhé.<br>
              •&nbsp;&nbsp; &nbsp;Đối với thẻ Visa/Master/JCB, bạn chọn cổng thanh toán Zalopay, chọn mục CC,
              Visa/Master/JCB, bạn nhập một số thông tin tài khoản Ngân hàng như Tên chủ thẻ, Mã số thẻ, Tên đăng
              nhập… sau đó nhập mã OTP để hoàn tất giai đoạn thanh toán bạn nhé.<br>
              <strong>Bước 4: </strong>Sau 15-20 phút bạn vẫn chưa nhận được thông tin xác nhận đặt vé được gửi đến SĐT
              đặt vé/Email đặt vé, bạn vui lòng liên hệ với hotline của Lotte theo số: 19000000 hoặc gửi thông tin
              (thông tin bao gồm: Tên, SĐT đặt vé, Tên phim – Suất chiếu – Cụm rạp, Cổng thanh toán và Số tiền thanh
              toán) đến địa chỉ Email: lotte@cinema.vn để được hỗ trợ bạn nhé.
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading3" data-toggle="collapse"
               data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Làm sao để khiếu nại hoặc góp ý với Lotte Cinema?
          </div>
          <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion-faq">
            <div class="card-body">
              Khi có bất kỳ khiếu nại, hoặc vấn đề phát sinh với dịch vụ của Lotte Cinema, quý khách vui lòng gọi
              hotline 19000000 hoặc gửi thông tin đến email: lotte@cinema.vn hoặc gửi tin nhắn đến fanpage Facebook
              chính thức của Lotte Cinema tại địa chỉ: https://facebook.com/lotte.vn.
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading4" data-toggle="collapse"
               data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Thanh toán online đã bị trừ tiền nhưng không nhận được mã đặt vé?
          </div>
          <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion-faq">
            <div class="card-body">
              Bạn có thể inbox qua fanpage Facebook chính thức của Lotte Cinema tại địa chỉ
              https://facebook.com/lottecinema.vn hoặc liên hệ với hotline 19000000 để được hỗ trợ bạn nhé (Thời gian
              làm việc từ 8:00 đến 22:00 hàng ngày).<br>
              Cập nhật lại thời gian của thẻ ATM từ 7 đến 15 ngày làm việc, thẻ Visa/Master từ 7 đến 45 ngày làm việc
              (không tính Cuối tuần và Ngày Lễ).
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading6" data-toggle="collapse"
               data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Tôi có thể hủy hoặc thay đổi thông tin của vé đã mua online được không?
          </div>
          <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion-faq">
            <div class="card-body">
              Theo quy định của Lotte Cinema vé đã mua thành công rồi thì không thể hủy/thay đổi thông tin được ạ. Tuy
              nhiên, trong trường hợp bạn không thể sắp xếp xem đúng suất chiếu mà bạn đã đặt nhầm, bạn vui lòng mang
              mã đặt vé đến trực tiếp tại rạp trước suất chiếu và liên hệ Ban quản lý để được hỗ trợ bạn nhé.
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading7" data-toggle="collapse"
               data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Vé liệt kê trên Website áp dụng cho đối tượng nào?
          </div>
          <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion-faq">
            <div class="card-body">
              Trên Website của Galaxy tại mục Rạp/Giá vé thể hiện tất cả các loại giá vé của
              Rạp, do mỗi Rạp có mỗi giá vé khác nhau nên bạn vui lòng chọn Rạp để tham khảo giá vé nhé.<br>
              Tuy nhiên khi bạn thực hiện mua vé online thì hệ thống chỉ thể hiện giá vé
              Người lớn và giá vé Thành viên (bạn vui lòng đăng nhập tài khoản thành viên). Đối với các loại giá
              vé U22/Trẻ em cần có giấy tờ xác minh độ tuổi/chiều cao nên chỉ áp dụng trực tiếp tại rạp thôi bạn
              nhé.
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading8" data-toggle="collapse"
               data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Khi mua vé online tôi có được tích điểm hay không?
          </div>
          <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion-faq">
            <div class="card-body">
              Khi bạn mua vé online trên Web/App của Lotte Cinema, bạn vui lòng đăng nhập tài khoản thành
              viên của Lotte Cinema để hệ thống tích điểm vào tài khoản của bạn nhé. Hệ thống Lotte Cinema sẽ không tích
              điểm
              được khi bạn thực hiện mua vé online tại Web/App của 123Phim, Momo…
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading9" data-toggle="collapse"
               data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Trường hợp tôi có nhiều tài khoản thành viên, tôi có thể tích các Star vào 1 tài khoản không?
          </div>
          <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion-faq">
            <div class="card-body">
              Số Star của mỗi tài khoản sẽ không được tích gộp vào 1 tài khoản bạn nhé.
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading10" data-toggle="collapse"
               data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Trường hợp để kiểm tra số lượng Stars trong tài khoản, tôi phải liên hệ ai?
          </div>
          <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion-faq">
            <div class="card-body">
              Bạn vui lòng gọi hotline 19000000 hoặc gửi thông tin đến email: lotte@cinema.vn hoặc gửi
              tin nhắn đến fanpage Facebook chính thức của Galaxy Cinema tại địa chỉ:
              https://facebook.com/Lottecinema.vn cung cấp mã thẻ thành viên/SĐT tài khoản để được hỗ trợ bạn nhé.<br>
              Bên cạnh bạn cũng có thể đăng nhập tài khoản thành viên tại Web/App của Lotte Cinema, vào mục Tài
              khoản -&gt; Giao dịch để kiểm tra số Star và lịch sử giao dịch.
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header collapsed" id="heading11" data-toggle="collapse"
               data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
            <i class="fas fa-plus"></i>
            <i class="fas fa-minus"></i>
            Làm thế nào để sử dụng số Stars trong tài khoản để đổi quà?
          </div>
          <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion-faq">
            <div class="card-body">
              Bạn vui lòng xuất trình mã barcode trên mobile app/thẻ thành viên tại Quầy vé/Quầy bắp nước
              để đổi phần quà theo nhu cầu sử...
