<div class="container-fluid m-0">
  <div class="row">
    <div class="container-fluid col-lg-3 bg-light"
         style="background-image: url('https://live.staticflickr.com/5224/5773057791_5c34be3d91_b.jpg')">
      <app-account-nav-bar></app-account-nav-bar>
    </div>
    <div class="container-fluid col-lg-9 p-5">
      <div class="card-title">LỊCH SỬ ĐIỂM TÍCH LŨY</div>
      <div class="card-body p-lg-5">
        <table class="table table-hover table-borderless">
          <tbody>
          <tr>
            <td class="col-2">
              <label for="startDate">Từ ngày</label>
              <span style="color: red" class="asterisk-red">(*):</span>
            </td>
            <div class="form-group w-33 float-left">
              <td>
                <input type="date" style="width: 600px" class="form-control" #start
                       id="startDate"/>
              </td>
            </div>
          </tr>
          <tr>
            <td class="col-2">
              <label for="endDate">Đến ngày</label>
              <span style="color: red" class="asterisk-red">(*):</span>
            </td>
            <div class="form-group w-33 float-left">
              <td>
                <input type="date" style="width: 600px" class="form-control" #end
                       id="endDate"/>
              </td>
            </div>
          </tr>
          <tr>
            <td class="col-2">
              <label for="endDate">Xem theo</label>
              <span style="color: red" class="asterisk-red">(*):</span>
            </td>
            <td class="row">
              <div class="col-lg-12">
                               <span class="form-check-inline d-flex">
                                  <label class="form-check-label">
                                      <input type="radio" name="gender" value=true checked class="form-check-input"/>Lịch sử cộng
                                    <label style="width: 130px"></label>
                                  </label>
                                   <label class="form-check-label">
                                      <input type="radio" name="gender" value=false class="form-check-input"/>Lịch sử dùng
                                   </label>
                               </span>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button type="submit" class="btn btn-primary">Xem Điểm</button>
            </td>
          </tr>
          </tbody>
        </table>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>STT</th>
            <th>Ngày Giao Dịch</th>
            <th>Mô Tả Giao Dịch</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let transaction of transactionHistoryList; let i = index">
            <td>{{i + 1}}</td>
            <td>{{transaction.transactionDate}}</td>
            <td>{{transaction.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
