<div class="container-fluid">
  <div class="row">
    <div class="container-fluid col-lg-3 bg-light"
         style="background-image: url('https://live.staticflickr.com/5224/5773057791_5c34be3d91_b.jpg')">
      <app-account-nav-bar></app-account-nav-bar>
    </div>
    <div class="container-fluid col-lg-9 p-5">
      <div class="card-title">THÔNG TIN TÀI KHOẢN</div>
      <div class="card-body">
        <div>
          <form [formGroup]="rfEditForm" (ngSubmit)="onSubmit()">
            <table class="table table-hover table-borderless">
              <tbody>
              <tr>
                <td class="col-2">
                  <label for="fullName">Họ và tên</label>
                  <span style="color: red" class="asterisk-red">(*):</span>
                </td>
                <td class="col-6">
                  <input type="text" formControlName="name" class="form-control" placeholder="Nhập họ tên "
                         id="fullName"/>
                  <span class="text-danger"
                        *ngIf="rfEditForm.controls.name.touched && rfEditForm.controls.name.errors?.required ">Tên không được để trống và không quá 20 kí tự. </span>
                </td>
              </tr>

              <tr>
                <td class="col-2">
                  <label for="birthday">Ngày sinh</label>
                  <span style="color: red" class="asterisk-red">(*):</span>
                </td>
                <div class="form-group w-33 float-left">
                  <td>
                    <input type="date" style="width: 350px" class="form-control"
                           formControlName="birthday"
                           id="birthday"/>
                  </td>

                </div>

              </tr>
              <tr>
                <td class="col-2">
                  <label>Giới tính</label>
                  <span style="color: red" class="asterisk-red">(*):</span>
                </td>
                <td class="row">
                  <div class="col-lg-12">
                               <span class="form-check-inline d-flex">
                                  <label class="form-check-label">
                                      <input type="radio" name="gender" formControlName="gender" [value]="1"
                                             class="form-check-input"/>Nam
                                    <label style="width: 50px"></label>
                                  </label>
                                   <label class="form-check-label">
                                      <input type="radio" name="gender" formControlName="gender" [value]="0"
                                             class="form-check-input"/>Nữ
                                   </label>
                               </span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="col-2">
                  <label for="email">Email</label>
                  <span style="color: red" class="asterisk-red">(*):</span>
                </td>
                <td class="col-6">
                  <input type="email" class="form-control" formControlName="email"
                         id="email"/>
                  <span class="text-danger"
                        *ngIf="rfEditForm.controls.email.errors?.required">Email Không được để trống</span>
                  <span class="text-danger" *ngIf="rfEditForm.controls.email.errors?.email">Email phải theo định dạng: abc@abc.abc</span>
                </td>
              </tr>
              <tr>
                <td class="col-2">
                  <label for="idCard">CMND</label>
                  <span style="color: red" class="asterisk-red">(*):</span>
                </td>
                <td class="col-6">
                  <input type="text" class="form-control" placeholder="2015272727" formControlName="idCard"
                         id="idCard"/>
                  <span class="text-danger" *ngIf="rfEditForm.controls.idCard.errors?.pattern">CMND không được để trống và phải có 9 đến 12 số. </span>

                </td>
              </tr>
              <tr>
                <td class="col-2">
                  <label for="phone">Số điện thoại</label>
                  <span style="color: red" class="asterisk-red">(*):</span>
                </td>
                <td class="col-6">
                  <input type="text" class="form-control" formControlName="phone"
                         id="phone"/>
                  <span class="text-danger" *ngIf="rfEditForm.controls.phone.errors?.pattern">Số điện thoại không đúng định dạng 10 số. </span>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button type="submit" class="btn btn-primary" [disabled]="rfEditForm.invalid">Cập Nhật</button>
                </td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
      <br>
      <div class="card-title"> THÔNG TIN ĐĂNG NHẬP</div>
      <div class="card-body">
        <div>
          <form [formGroup]="rfPasswordForm" (ngSubmit)="onSubmitPass()">
            <table class="table table-hover table-borderless">
              <tbody>
              <tr>
                <td style="width: 320px">
                  <label for="passwordOld">Mật khẩu cũ</label>
                  <span class="text-danger" style="color: red">(*):</span>
                </td>
                <td>
                  <input type="password" class="form-control" formControlName="oldPassword"
                         placeholder="Nhập mật khẩu cũ"
                         id="passwordOld"/>
                  <p *ngIf="rfPasswordForm.controls.newPassword.touched" class="text-danger">
                    <span *ngIf="rfPasswordForm.controls.newPassword.errors?.required">Bạn chưa nhập mật khẩu. Vui lòng nhập lại.</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="passwordNew">Mật khẩu mới</label>
                  <span style="color: red" class="asterisk-red">(*):</span>
                </td>
                <td>
                  <input type="password" class="form-control" formControlName="newPassword" placeholder="Mật khẩu mới"
                         id="passwordNew"/>
                  <p *ngIf="rfPasswordForm.controls.newPassword.touched" class="text-danger">
                    <span *ngIf="rfPasswordForm.controls.newPassword.errors?.required">Bạn chưa nhập mật khẩu. Vui lòng nhập lại.</span>
                    <span *ngIf="rfPasswordForm.controls.newPassword.errors?.pattern">Mật khẩu mới phải bao gồm chữ và số và trên 6 kí tự </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="confirmPassword">Xác nhận mật khẩu</label>
                  <span style="color: red" class="asterisk-red">(*):</span>
                </td>
                <td>
                  <input type="password" class="form-control" formControlName="confirmNewPassword"
                         placeholder="Xác nhận mật khẩu"
                         id="confirmPassword" required/>
                  <p *ngIf="rfPasswordForm.controls.confirmNewPassword.touched" class="text-danger">
                <span *ngIf="rfPasswordForm.controls.confirmNewPassword.errors?.required">
                  Bạn chưa nhập mật khẩu. Vui lòng nhập lại.
                </span>
                    <span *ngIf="rfPasswordForm.hasError('passwordNotMatch')">
                  Không trùng với mật khẩu mới, xin nhập lại
                </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Mã OTP</label>
                  <span style="color: red" class="asterisk-red">(*):</span>
                </td>
                <td>
                  <div class="input-group mr-12">
                    <div class="input-group pd-12 w-50">
                      <button type="button" class="btn btn-warning" (click)="sendEmailOTP()">Lấy Mã OTP</button>
                    </div>
                    <div class="input-group pd-20 w-50">
                      <input (input)="changeInputEmailOTP($event.target.value)" type="text"
                             style="width: 150px;padding: revert" class="form-control underline"
                             placeholder="Nhập Mã OTP" id="otp " maxlength="6" size="6"/></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button type="submit" class="btn btn-primary ">Đổi mật khẩu</button>
                </td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

